In [1]:
import json
import pandas as pd
import numpy as np

In [139]:
def main(position):
    dfa = dataframe_dt(position, version_list[0])
    dfb = dataframe_dt(position, version_list[1])
    frames = [dfa, dfb]
    df = pd.concat(frames, ignore_index=True)
    df.Value = df.Value.div(max(df.Value.to_list()))
    df = df.sort_values(by=['Value'], ascending=False)
    return df

def import_scraped_data(time, position, version):
    filename = "../scraped_data/%s_%s_%s.json" % (time, position, version)
    with open(filename, encoding='utf-8') as json_data:
        d = json.load(json_data)
        json_data.close()
    return pd.DataFrame(d)

def clean_dataframe(df):
    df = df.loc[:, ["Name", "Rating", "PS4", "Games"]]
    df.rename(columns={'PS4':'Price'}, inplace=True)
    df.Name = df.Name.str.replace(r"\(.*\)","")
    df.Rating = pd.to_numeric(df.Rating)
    df.Games = pd.to_numeric(df.Games.str.replace(",",""))
    df.Price = (df.Price.replace(r'[KM]+$', '', regex=True).astype(float) * \
                    df.Price.str.extract(r'[\d\.]+([KM]+)', expand=False)
                    .fillna(1).replace(['K','M'], [10**3, 10**6]).astype(int))
    df.Price = df.Price.astype("int64")
    return df

def value(games, price):
    P = np.array(price.to_list())
    N = np.array(games.to_list())
    V = (A + (1 - A) / (1 + np.exp(-a * (P - b)))) * (B * (c * N + d))
    return V

def dataframe_dt(position, version):
    df0 = import_scraped_data(time_list[0], position, version)
    df1 = import_scraped_data(time_list[1], position, version)
    df0 = clean_dataframe(df0)
    df1 = clean_dataframe(df1)
    dn = np.zeros(len(df1.index))
    i = -1
    j = -1
    J = np.zeros(len(df1.index))
    for index_df1, row_df1 in df1.iterrows():
        i += 1
        j = -1
        n1 = row_df1["Name"]
        r1 = row_df1["Rating"]
        g1 = row_df1["Games"]
        p1 = row_df1["Price"]
        if p1 == 0:
            row_df1["Price"] = 1
            df1.iloc[i] = row_df1
            p1 = 1
        for index_df0, row_df0 in df0.iterrows():
            j += 1
            n0 = row_df0["Name"]
            r0 = row_df0["Rating"]
            g0 = row_df0["Games"]
            p0 = row_df0["Price"]
            if J[j] == 1:
                continue
            if n1 == n0 and r1 == r0:
                if g0 > g1 or abs((p1-p0)/p1) > 0.5:
                    continue
#                 print("%s %s %s %s - %s %s %s %s" % (n1, r1, g1, p1, n0, r0, g0, p0))
                dn[i] = g1 - g0
                J[j] = 1    
                break
    df1.Games = dn.astype(int)
    df1["Value"] = value(df1.Games, df1.Price)
    return df1

In [135]:
A = 0.6
a = 3e-5 # [price]
b = 7.5e4 # [-]
B = 1
c = 9.5e-6 # [games]
d = 0   # [-]

version_list = ["all_nif", "all_specials"]
position_list = ["GK", "RB,RWB", "LB,LWB", "CB", "CDM,CM,CAM", "RM,RW,RF", "LM,LW,LF", "CF,ST"]
time_list = ["2019121307", "2019121606"]

In [140]:
df = main(position_list[7])
df.head(60)

                    Name  Rating    Price   Games     Value
3         Kylian Mbappé       89   767000  146120  1.000000
1         Heung Min Son       87   359000  137784  0.942876
30    Wissam Ben Yedder       85   300000  136543  0.934021
8            Aubameyang       88   110000  106361  0.652426
33    Wissam Ben Yedder       85   190000   88811  0.600315
15    Cristiano Ronaldo       93  1050000   84757  0.580051
14   Robert Lewandowski       89    44000  109006  0.532027
41           Sadio Mané       89   545000   76015  0.520223
10        Sergio Agüero       89    88000   88335  0.506912
16           Harry Kane       89    43000   92443  0.449658
7         Dries Mertens       87    33750   95001  0.448575
6     Antoine Griezmann       89    93000   75034  0.437882
11      Lorenzo Insigne       87    22500   95202  0.435616
46          Timo Werner       85   190000   62396  0.421763
0                 Lucas       83     5700   87971  0.387996
12      Roberto Firmino       86    23500   83315  0.382207
39      Roberto Firmino       88   928000   55678  0.381043
38     Lautaro Martínez       84    13000   83019  0.371507
5   Alexandre Lacazette       86    17500   81076  0.366480
34        Kévin Gameiro       86    70000   67533  0.362820
2       Marcus Rashford       83     6900   76603  0.338614
37          Jamie Vardy       86    22700   68292  0.312644
43        Dries Mertens       88   175000   44763  0.300533
36    Antoine Griezmann       90   690000   40951  0.280256
40   Zlatan Ibrahimovic       88   120000   42452  0.266604
18          Luis Suárez       89    42750   54391  0.264343
42           Iago Aspas       87    87000   42289  0.241838
4           Timo Werner       83     2800   52670  0.231103
55        Ciro Immobile       87    31750   48968  0.229838
49        Sergio Agüero       91  1250000   30887  0.211381
54      Lorenzo Insigne       89   842000   30605  0.209451
32        Donyell Malen       81    15250   45531  0.204754
31        Karim Benzema       88    50000   40245  0.200599
48         Paulo Dybala       89    95500   32060  0.188611
44           Harry Kane       90    61000   33412  0.173464
9     Wissam Ben Yedder       83     3300   37356  0.164051
25        Karim Benzema       87    24000   30887  0.141878
17        Memphis Depay       84     4600   31018  0.136532
51   Robert Lewandowski       90    74000   22995  0.125424
23        Ciro Immobile       86    15250   26462  0.119001
13        Gabriel Jesus       82     2500   20491  0.089863
45  João Félix Sequeira       80    81000   15481  0.086660
24          Jamie Vardy       82     2500   18301  0.080259
53        Romelu Lukaku       86    46000   15822  0.077757
22       Iñaki Williams       82     1000   14320  0.062641
57       Victor Osimhen       83    18200   12307  0.055722
56           Luka Jovic       83    35750   11102  0.052744
47        Marcus Thuram       81    11750   11630  0.051907
50        Tammy Abraham       81    13750   11480  0.051456
35          Teemu Pukki       84    17000   11139  0.050292
20              Morales       82      800   10681  0.046708
58      Darío Benedetto       82    14500    5763  0.025873
27        Romelu Lukaku       85     7500    4699  0.020795
26  João Félix Sequeira       80      800    3946  0.017256
29        Alex Teixeira       79      900    3349  0.014647
59     Sébastien Haller       83    16000    3182  0.014334
28           Ante Rebic       80     1000    2591  0.011334
21        Wilfried Zaha       83     4900       0  0.000000
52        Wilfried Zaha       85        1       0  0.000000
19              Rodrigo       83     1400       0  0.000000

In [ ]:
# Bench: Ben Yedder, de Jong, Martial
# ---alt
#  - sane




# Varane [Militao] 
# Kante [Sissoko] 1000
# Salah [Dembele]
# Aubameyang [Lucas] 1335
# Mane [Sane] 1517