In [4]:
import json
import pandas as pd
import numpy as np

In [5]:
A = 0.6
a = 3e-5 # [price]
b = 7.5e4 # [-]
B = 1
c = 9.5e-6 # [games]
d = 0   # [-]

version_list = ["all_nif", "all_ifs"]
position_list = ["GK", "RB,RWB", "LB,LWB", "CB", "CDM,CM,CAM", "RM,RW,RF", "LM,LW,LF", "CF,ST"]
time_list = ["2019120723", "2019121209"]

In [6]:
def import_scraped_data(time, position, version):
    filename = "../scraped_data/%s_%s_%s.json" % (time, position, version)
    with open(filename, encoding='utf-8') as json_data:
        d = json.load(json_data)
        json_data.close()
    return d

def value(games, price):
    P = np.array(price.to_list())
    N = np.array(games.to_list())
    V = (A + (1 - A) / (1 + np.exp(-a * (P - b)))) * (B * (c * N + d))
    Vmax = np.max(V)
    return V/Vmax

def clean_dataframe(df):
    df = df.loc[:, ["Name", "Rating", "PS4", "Games"]]
    df.rename(columns={'PS4':'Price'}, inplace=True)
    df.Name = df.Name.str.replace(r"\(.*\)","")
    df.Rating = pd.to_numeric(df.Rating)
    df.Games = pd.to_numeric(df.Games.str.replace(",",""))
    df.Price = (df.Price.replace(r'[KM]+$', '', regex=True).astype(float) * \
                    df.Price.str.extract(r'[\d\.]+([KM]+)', expand=False)
                    .fillna(1).replace(['K','M'], [10**3, 10**6]).astype(int))
    df.Price = df.Price.astype("int64")
    return df

def dataframe_position(time, position):
    d1 = import_scraped_data(time, position, version_list[0])
    d2 = import_scraped_data(time, position, version_list[1])
    df1 = clean_dataframe(pd.DataFrame(d1))
    df2 = clean_dataframe(pd.DataFrame(d2))
    frames = [df1, df2]
    df = pd.concat(frames, ignore_index=True)
    df["Value"] = value(df.Games, df.Price)
    df = df.sort_values(by=['Value'], ascending=False)
    return df

def dataframe_position_dt(position):
    df0 = dataframe_position(time_list[0], position)
    df1 = dataframe_position(time_list[1], position)
    dn = np.zeros(len(df1.index))
    i = 0
    for index_df1, row_df1 in df1.iterrows():
        for index_df0, row_df0 in df0.iterrows():
            if row_df1["Name"] == row_df0["Name"] and row_df1["Rating"] == row_df0["Rating"]:
                dn[i] = row_df1["Games"] - row_df0["Games"]
        i += 1
    df1.Games = dn.astype(int)
    df1.Value = value(df1.Games, df1.Price)
    df1.sort_values(by=['Value'], ascending=False, inplace=True)
    return df1

In [31]:
df = dataframe_position_dt(position_list[3])
# df.sort_values(by=['Games'], ascending=False, inplace=True)
df.head(60)

                     Name  Rating   Price   Games     Value
6        Virgil van Dijk       90  546000  283083  1.000000
3         Raphaël Varane       85  191000  281473  0.982426
1        Clément Lenglet       85   64000  327787  0.888467
8           Sergio Ramos       89  112000  253231  0.805854
7      Kalidou Koulibaly       89   43250  252366  0.634165
0           Éder Militão       81    1900  246890  0.558307
10       Aymeric Laporte       87   24000  188973  0.448060
12         Samuel Umtiti       86   27750  168238  0.402953
2        Lucas Hernández       84    5100  167596  0.381128
11        Kostas Manolas       85   15500  160211  0.372098
4       Davinson Sánchez       83    5300  158342  0.360215
17     Toby Alderweireld       87   21000  110901  0.260945
18        Jan Vertonghen       87   22000  100480  0.237018
13           Niklas Süle       85    9600   96621  0.221617
5          Manuel Akanji       83    3400   89111  0.202033
15            Marquinhos       86   16000   82682  0.192250
30          Thiago Silva       88   60000   67347  0.179796
20     Giorgio Chiellini       89   42500   57843  0.144985
31          Mats Hummels       88   63500   53279  0.144138
14              Sokratis       84    5000   61841  0.140606
9              Joe Gomez       80    1000   51302  0.115837
26    José María Giménez       85    9700   49640  0.113881
21        Milan Škriniar       86   15000   48197  0.111815
35      Matthijs de Ligt       86   51000   43068  0.111207
19      Matthijs de Ligt       85    9500   45855  0.105156
16      Presnel Kimpembe       82    2000   28861  0.065276
33           Daley Blind       85   28500   21516  0.051642
27          Jonathan Tah       83    3600   21693  0.049200
24            Nathan Aké       80     900   21586  0.048732
39      Nicolás Otamendi       85   27750   17785  0.042597
25      Gabriel Paulista       82    1800   18014  0.040729
23       Antonio Rüdiger       82    1400   17431  0.039385
22           Eric Bailly       80     750   16982  0.038329
28       Victor Lindelöf       81     850   14270  0.032213
38        Chris Smalling       83   17750    9791  0.022858
34            Salif Sané       83   16000    9288  0.021596
36           Willi Orban       84   19000    8333  0.019512
32     Laurent Koscielny       84   20500    8035  0.018883
29               Hermoso       80     700    8187  0.018477
37       Nicolas Nkoulou       84   18750    6926  0.016208
48        Stefan de Vrij       86   28000    5008  0.012003
40            Yerry Mina       82   14000    4207  0.009739
42       Nicolas Pallois       82   14000    2923  0.006766
43  William Troost-Ekong       81   12000    2797  0.006447
41       Germán Pezzella       82   16250    2147  0.004995
45          Domagoj Vida       83   16000    2081  0.004839
44            Lewis Dunk       82   14500    2047  0.004744
46           Shane Duffy       82   14500    1962  0.004547
51           Nico Elvedi       82   15500    1495  0.003472
53       James Tarkowski       82   13000    1050  0.002425
49          Chey Dunkley       78   16000     874  0.002032
54                 Pablo       81   10500     757  0.001739
50         Amir Rrahmani       78   12250     598  0.001379
55       Sergiy Kryvtsov       81   11750     322  0.000742
52     Bernardo Espinosa       81   15000     319  0.000740
56     Georg Margreitter       79   14000     107  0.000248
57         Harry Souttar       71   43750      20  0.000050
58       Damien Da Silva       82   11000       0  0.000000
47       Virgil van Dijk       91  828000       0  0.000000
59         Scott Wharton       74   15000       0  0.000000

In [ ]:
# Sane [Martial] 437
# Varane [Militao] 
# Kante [Sissoko] 1000
# Salah [Dembele]
# Aubameyang [Lucas] 1335
# Mane [Sane] 1517